* {
    padding: 0px;
    margin: 0px;
}

.main_container {
    width: 100%;
    height: 600px;
    float: left;
    background-color: #ffff;
}

.bottom_container {
    width: 100%;
    height: 100px;
    float: left;
    background-color: #d2d2d2;
}

.navbar {
    height: 80px;
    float: left;
    width: 100%;

    position: sticky;
    top: 0px;


}

.left-content {
    display: flex;

    text-align: center;
    align-content: center;
    margin-top:-15px;

}

.left-content ul {
    font-size: 15px;
    color: #000000DE;
    display: flex;
    list-style-type: none;
    margin-left: 10px;

    display: flex;

    gap: 25px;
    margin-top: 30px;
}

.left-content ul li {
    font-size: 20px;
}

.right_conter {
    float: right;

}

.right_conter img {

    border-radius: 50%;
    width: 58px;
    height: 58px;
    box-sizing: border-box;
    border: 3px solid white;
    margin-top: -20px;
    cursor: pointer;
}

.right_conter ul {
    display: flex;
    list-style-type: none;
    margin-right: 30px;
    gap: 30px;
    font-size: 20px;
    margin-top: -20px;
    color: #000000DE;
    cursor: pointer;
}

.right_conter i {
    font-size: 25px;
}

.logo_img {
    width: 100%;
    height: 200px;
    float: left;

    position: sticky;
    top: 90px;
    color: white;


}

/* .allelement span {
    margin-left: 40%;

}

.G {
    height: 100px;
    width: 100px;
    font-size: 50px;
    color: red;
    font-family: 'Courier New', Courier, monospace;
} */

.logo_img img {
    width: 25%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 40%;

}

.search_bar {
    height: 100px;
    width: 100%;
    float: left;



}

.serch img {
    height: 20px;
    margin-left: 10px;
    float: left;

    filter: blur(0.5px);
    margin-top: 12.5px;


}

.serch {
    width: 50%;
    height: 45px;
    background-color: #fff;
    float: left;
    border-radius: 25px;
    border: 1px solid #d2d2d2;
    margin-left: 25%;


}

input {
    float: left;
    height: 30px;
    width: 70%;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    outline: none;
}

input::placeholder {
    font-size: 17px;
}

.serch:hover {
    box-shadow: 3px 2px 2px 2px rgb(205, 196, 196);
}

.aimode {
    width: 100px;
    height: 35px;
    border-radius: 15px;
    background-color: rgb(242, 242, 242);
    display: flex;

    float: right;
    margin-right: 5px;
    margin-top: 5px;

}

.aimode span {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    /* margin-top:10px; */
    transition: filter 1000ms cubic-bezier(0.00, 0.00, 0.00, 1.00), background 400ms linear;
}

.aimode img {
    width: 30px;
    height: 30px;
    color: black;
    margin-top: -0.90px;
}

.svggoggle {
    height: 50px;
    width: 30px;
    color: black;
    float: left;
    background-size: cover;
}

.section {
    float: left;
    width: 100%;
    height: 100px;
 
}

.section ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
    margin-left: 240px;
    margin-top:-15px;

}

.section img {
    height: 60px;
    width: 100%;
    background-color: whitesmoke;

    border-radius: 50%;
    border: 2px solid white;
    box-sizing: border-box;

}



.text li {
    margin-left:5px;
    margin-top:5px;
}

.up_cont{
    float:left;
    width:100%;
    height:50%;
 
   
}
.up_cont ul{
    list-style-type:none;
}

.up_cont ul{
    font-size: 20px;
    margin-top:10px;
    margin-left:5px;
}
.bottom_cont{
    height:50%;
    float:left;
    width:100%;
  

}
.left ul{
    float:left;
    display: flex;
    gap:20px;
    list-style-type: none;
    margin-left:10px;
     margin-top:20px;
}
.right ul{
    float:right;
    display: flex;
    gap:20px;
    list-style-type:none;
    margin-right:10px;
    margin-top:20px;
  
}
.right ul a{
      text-decoration: none;
       color:black;
}
.left ul a{
    text-decoration: none;
    color:black;
}
.right a:hover{
  text-decoration: underline;
}
.left a:hover{
  text-decoration: underline;
}
.left-content ul a:hover{
    text-decoration: underline;
}
.right_conter ul a:hover{
    text-decoration: underline;
}